-r requirements.txt

black==26.5.1
click==8.4.2
coverage==7.15.2
iniconfig==2.3.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.1
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
pytest-cov==7.1.0
pytokens==0.4.1
ruff==0.15.22
sphinx==9.1.0
sphinx-autobuild==2025.8.25
sphinx-autodoc-typehints==3.12.1
sphinx-rtd-theme==3.1.0